<div class="static-slider-head" style="background-image:url(assets/images/landingpage/banner-bg.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-9 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
                <h1 class="title">Wrapkit Angular Blog</h1>                
                <h5 class="subtitle op-5">Want a blog app with ng-bootstrap ? Here is the fully workable blog app in which we are giving add post, edit post and delete post.</h5>
                    
                <a  routerLink="https://www.wrappixel.com/free-wrapkit-angular-blog" class="btn btn-md m-t-30 btn-danger-gradiant font-14">Download Free</a>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>
