<div class="footer4 b-t spacer">
  <div class="container text-center">
    <div class="round-social light">
      <a routerLink="#" class="link"><i class="fa fa-facebook"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-twitter"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-google-plus"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-youtube-play"></i></a>
      <a routerLink="#" class="link"><i class="fa fa-instagram"></i></a>
    </div>
    <div class="mt-3 copyright">
      All Rights Reserved by <a href="https://www.wrappixel.com/">WrapPixel</a>.
    </div>
  </div>
</div>
