<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a href="https://github.com/roca12/GxEquipoXCiclo3"><i class="fab fa-github fa-2x"></i></a>
      </li>
      &middot;
      <li class=" nav-item">
        <a href="https://www.oracle.com/co/java/technologies/javase/jdk11-archive-downloads.html"><i class="fab fa-java fa-2x"></i></a>
      </li>
      &middot;
      <li class=" nav-item">
        <a href="https://angular.io/"><i class="fab fa-angular fa-2x"></i></a>
      </li>  
      &middot;
      <li class=" nav-item">
        <div class=" copyright">
          &copy; {{ test | date: "yyyy" }} <i class="fas fa-code"></i> Diego Rodriguez <i class="fas fa-code-branch"></i>
        </div>
      </li>
    </ul>
    
  </div>
</footer>s