<div class="topbar" id="top">
    <div class="header6">

        <div class="container po-relative">
            <nav class="navbar navbar-expand-lg h6-nav-bar">
                <a class="navbar-brand" routerLink="">
                    <img src="assets/images/logos/white-text.png" alt="wrapkit" />
                </a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#h6-info"
                    aria-controls="h6-info" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>


                <app-banner-navigation class="ml-auto"></app-banner-navigation>

            </nav>
        </div>


    </div>
</div>