<table class="table table-striped table-hover">
<thead>
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Pais</th>
        <th>Pagina web</th>
        <th>Dominio</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let universidad of contenido">
        <td [ngClass]="{'text-primary':universidad.alpha_two_code=='US',
                        'text-danger':universidad.alpha_two_code!='US'}">
            {{universidad.alpha_two_code}}
        </td>
        <td>{{universidad.name}}</td>
        <td>{{universidad.country}}</td>
        <td>{{universidad.web_pages[0]}}</td>
        <td>{{universidad.domains[0]}}</td>
    </tr>
</tbody>




</table>