<div class="container">
    <div class="row">
        <input type="text">
    </div>
    <div class="row">
        <input type="password">
    </div>
    <div class="row">
        <input type="number">
    </div>
    <div class="row">
        <input type="range">
    </div>
    <div class="row">
        <input type="time">
    </div>
    <div class="row">
        <input type="date">
    </div>
    <div class="row">
        <input type="color">
    </div>
    <div class="row">
        <input type="checkbox">
    </div>
    <div class="row">
        <input type="file">
    </div>
    <div class="row">
        <input type="radio">
    </div>
    <div class="row">
        <input type="tel">
    </div>
</div>