<div class=" content animate__animated animate__bounceInLeft">
  <div class=" row">
    <div class=" col-12">
      <div class=" card ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-12 text-left">
              <h5 class=" card-category">Tiendas los tiburones</h5>
              <h2 class=" card-title">Bienvenidos a las tiendas Los tiburones</h2>
            </div>

          </div>
        </div>
        <div class="card-content">

          <div class=" row justify-content-center">
            <div class="col-6">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/4HGNqFdaD34"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>