<div
  class="banner-innerpage"
  style="background-image: url(assets/images/landingpage/banner-bg2.jpg)"
>
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 no-trans align-self-center text-center">
        <h1 class="title">ABOUT PAGE</h1>
      </div>
      <!-- Column -->
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">Create beautiful Websites in Record Time</h2>
        <h6 class="subtitle">
          You can relay on our amazing features list and also our customer
          services will be great experience for you without doubt and in no-time
        </h6>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->
<div class="spacer">
  <div class="container">
    <div class="row justify-content-center m-b-30">
      <div class="col-md-7 text-center no-trans">
        <h2 class="title">
          Are you happy with what we offer? Grab your WrapKit Angular Blog Copy
          Now
        </h2>
        <h6 class="subtitle">
          Yeah ! Its pretty cool about what you are offering and i starterd to
          feel in love with your Amazing UI Kit. I want it Yea!
        </h6>
        <a
          class="btn btn-info-gradiant btn-md btn-arrow m-t-20"
          data-toggle="collapse"
          href="#"
          ><span>View Details <i class="ti-arrow-right"></i></span
        ></a>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Call to action -->
<!-- ============================================================== -->
