<div class="wrapper">
  <div class="sidebar" *ngIf="state==1">
    <app-sidebar></app-sidebar>
  </div>
  <div class="main-panel">
    <div *ngIf="state==1">
      <app-navbar></app-navbar>
    </div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>

<div class=" fixed-plugin">
  <div class=" show-dropdown" ngbDropdown>
    <a data-toggle="dropdown" ngbDropdownToggle>
      <i class=" fa fa-cog fa-2x"> </i>
    </a>
    <ul ngbDropdownMenu>
      <li class=" header-title">Fondo del sidebar</li>
      <li class=" adjustments-line">
        <a class=" switch-trigger background-color" href="javascript:void(0)">
          <div class=" badge-colors text-center">
            <span class=" badge filter badge-primary" [ngClass]="{'active':sidebarColor==='primary'}"
              (click)="changeSidebarColor('primary')">
            </span>
            <span class=" badge filter badge-info" [ngClass]="{'active':sidebarColor==='blue'}"
              (click)="changeSidebarColor('blue')"> </span>
            <span class=" badge filter badge-success" [ngClass]="{'active':sidebarColor==='green'}"
              (click)="changeSidebarColor('green')">
            </span>
          </div>
          <div class=" clearfix"></div>
        </a>
      </li>
    </ul>
  </div>
</div>