<input type="text" [(ngModel)]="nombre">
<input type="text" [(ngModel)]="correo">
<input type="text" [(ngModel)]="user">
<input type="text" [(ngModel)]="pass">


<button (click)="postData()">
    Enviar
</button>{{codigoRespuesta}}

<table class="table 
table-bordered table-striped table-hover">
<thead>
    <tr>
        <th>Nombre</th>
        <th>Pais</th>
        <th>Dominio</th>
        <th>Pagina web</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let universidad of contenido">
    <td>{{universidad.name}}</td>
    <td>{{universidad.country}}</td>
    <td>{{universidad.domains[0]}}</td>
    <td>{{universidad.web_pages[0]}}</td>
    </tr>
</tbody>
</table>