<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/sharklogo.jpg" />
    </div>
  </a>
  <a class="simple-text logo-normal">
    Los tiburones
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p class="sidebar-text">{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>