<div class="container">
    <div class="row">
        <div class="col-xl-6">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/4HGNqFdaD34"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-xl-6">
            <iframe src="https://discord.com/widget?id=842432606674092102&theme=dark" width="350" height="500"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>