
<input type="text" [(ngModel)]="username">
<input type="text" [(ngModel)]="password">
<input type="text" [(ngModel)]="name">
<input type="text" [(ngModel)]="email">


<button (click)="postData()">
    Dame click 
</button>
{{codigoRespuesta}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo Pais</th>
            <th>Nombre</th>
            <th>Pais</th>
            <th>Dominio</th>
            <th>Pagina WEB</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let universidad of contenido">
            <td [ngClass]="{'text-primary':universidad.alpha_two_code=='US',
            'text-danger':universidad.alpha_two_code!='US'}">
                {{universidad.alpha_two_code}}
            </td>
            <td>{{universidad.name}}</td>
            <td>{{universidad.country}}</td>
            <td>{{universidad.domains[0]}}</td>
            <td>{{universidad.web_pages[0]}}</td>
        </tr>
    </tbody>
</table>
























<!--

<h1 class="animate__animated animate__backInLeft">Soy un titulo grande</h1>

<h2 class="animate__animated animate__backInLeft">Soy un titulo grande</h2>
<h3 class="animate__animated animate__bounce">Soy un titulo grande</h3>
<h4 class="animate__animated animate__bounce">Soy un titulo grande</h4>
<h5 class="animate__animated animate__bounce  miestilo"> Soy un titulo grande</h5>


<h1>{{nombre}}</h1>
{{numero}}
{{booleano}}
{{cualquiera}}
<p>El resultado de la suma es: {{sumar(23,56)}}</p>

<input [type]="nuevotipo" [value]="nombre">
<h1 [hidden]="booleano"> holaaaaaaa</h1>

<button (click)="cambiarTitulo()" class="btn btn-warning">Dame click</button>
{{titulovacio}}

BINDING

<div *ngIf='sexoestudiante==="F"?true:false'>
    La estudiante {{estudiante}} es de sexo femenino
</div>
<div *ngIf="sexoestudiante==='M'">
    El estudiante {{estudiante}} es de sexo masculino
</div>


<button (click)="llenarLista()" class="btn btn-success">
    Llenar lista
</button>
<table>
    <tr>
        <th>Numero aleatorio</th>
    </tr>
    <tr *ngFor="let numero of lista">{{numero}}</tr>
</table>


<button (click)="cambiarTema()" 
[ngClass]="{'btn':sexoestudiante==='F'
,'btn-danger':sexoestudiante==='F'}">
    Soy un boton con estilo
</button>

<h1 [ngClass]="{'text-light':temaclaro==true,
'bg-dark':temaclaro==true,
'text-dark':temaclaro==false,
'bg-light':temaclaro==false}">
    Soy un titulo
</h1>

-->