<h1>Angular Router Sample</h1>
<nav>
  <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">Heroes</a>
</nav>
<router-outlet></router-outlet>

<div style="display: none;">
<!-- This HTML represents the initial state for the tutorial. It is not intended to appear in the app. -->
<app-crisis-list></app-crisis-list>
<app-heroes-list></app-heroes-list>

<!-- This HTML snippet is for when the user first adds the routerlink navigation. -->
<nav>
  <a class="button" routerLink="/crisis-list">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list">Heroes</a>
</nav>


</div>